.funny-glasses{
    position: relative;
    bottom: 107px;
    left: 214px;
}
.bandana{
    position: absolute;
    top: 183px;
    left: 107px;
}
.pawprint{
    position: fixed;
    top: 45px;
    left: 64px;
}
.luna{
    position: absolute;
}
.top_hat{
    z-index: 1;
}